.page-header
{
  background-color:azure;
  font-size: large;
  font-weight: bold;
  align-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration-color: darkslategray;
}
